version: '3.8'

services:
  mirrors:
    image: nginx:alpine
    container_name: mirrors
    ports:
      - '8083:80'
    volumes:
      - ./www:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - caddy
    restart: unless-stopped
    labels:
      - "caddy=http://mirrors.brennan.page"
      - "caddy.reverse_proxy={{upstreams 80}}"

networks:
  caddy:
    external: true
